{% extends 'master.html' %}
{% load static %}
{% block content %}

{% load cart %}
{% load custom_filter %}



            <!-- Slider area Start -->
            <section class="homepage-slider mb--75 mb-md--55">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="element-carousel slick-right-bottom"
                            data-slick-options='{
                                "slidesToShow": 1,
                                "arrows": true,
                                "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "la la-arrow-left" },
                                "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "la la-arrow-right" }
                            }'
                            data-slick-responsive='[{"breakpoint": 768, "settings": {"arrows": false}}]'>
                                <div class="item">
                                    <div class="single-slide d-flex align-items-center bg-color" data-bg-color="#dbf3f2">
                                        <div class="row align-items-center g-0 w-100">
                                            <div class="col-xl-7 col-md-6 mb-sm--50">
                                                <figure data-animation="fadeInUp" data-duration=".3s" data-delay=".3s" class="plr--15">
                                                    <img src="{% static 'assets/img/slider/slider-01-img-01.png' %}" alt="Slider O1 image" class="mx-auto">
                                                </figure>
                                            </div>
                                            <div class="col-md-6 col-lg-5 offset-lg-1 offset-xl-0">
                                                <div class="slider-content">
                                                    <div class="slider-content__text mb--40 mb-md--30">
<!--                                                        <p class="mb&#45;&#45;15" data-animation="fadeInUp" data-duration=".3s" data-delay=".3s">#New Treand</p>-->
                                                        <p class="mb--20" data-animation="fadeInUp" data-duration=".3s" data-delay=".3s">For your lifestyle.</p>
                                                        <h1 class="heading__primary lh-pt7" data-animation="fadeInUp" data-duration=".3s" data-delay=".3s">The Casa Décor</h1>
                                                    </div>
                                                    <div class="slider-content__btn">
                                                        <a href="{% url 'shop' %}" class="btn btn-outline btn-brw-2" data-animation="fadeInUp" data-duration=".3s" data-delay=".6s">Shop Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="single-slide d-flex align-items-center bg-color" data-bg-color="#dbf3f2">
                                        <div class="row align-items-center g-0 w-100">
                                            <div class="col-xl-6 col-md-6 mb-sm--50 order-md-2">
                                                <figure data-animation="fadeInUp" data-duration=".3s" data-delay=".3s" class="pl-15 pr--60">
                                                    <img src="{% static 'assets/img/slider/slider-02-img-01.png' %}" alt="Slider O1 image" class="mx-auto">
                                                </figure>
                                            </div>
                                            <div class="col-md-5 col-lg-5 offset-md-1 order-md-1">
                                                <div class="slider-content">
                                                    <div class="slider-content__text border-color-2 mb--40 mb-md--30">
<!--                                                        <p class="mb&#45;&#45;15" data-animation="fadeInUp" data-duration=".3s" data-delay=".3s">#New Treand</p>-->
                                                        <p class="mb--20" data-animation="fadeInUp" data-duration=".3s" data-delay=".3s">For your funitures.</p>
                                                        <h1 class="heading__primary lh-pt7" data-animation="fadeInUp" data-duration=".3s" data-delay=".3s">The Casa Décor</h1>
                                                    </div>
                                                    <div class="slider-content__btn">
                                                        <a href="{% url 'shop' %}" class="btn btn-outline btn-brw-2 btn-brc-2" data-animation="fadeInUp" data-duration=".3s" data-delay=".6s">Shop Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Slider area End -->

            <!-- Top Sale Area Start -->
            <section class="top-sale-area mb--75 mb-md--55">
                <div class="container">
                    <div class="row mb--35 mb-md--23">
                        <div class="col-12 text-center">
                            <h2>Featured Designs This Week</h2>
                        </div>
                    </div>
                    <div class="row">
                        {% if featured %}
                        <div class="col-12">
                            <div class="element-carousel"
                            data-slick-options='{
                                "spaceBetween": 30,
                                "slidesToShow": 3
                            }'
                            data-slick-responsive='[
                                {"breakpoint": 768, "settings": {"slidesToShow": 2}},
                                {"breakpoint": 480, "settings": {"slidesToShow": 1}}
                            ]'>

                              {% for product in featured %}
                                <div class="item">
                                    <div class="ft-product">
                                        <div class="product-inner">
                                            <div class="product-image">
                                                <figure class="product-image--holder">
                                                    <img src="{{product.image.url}}" alt="Product">
                                                </figure>
                                                <a href="#" class="product-overlay"></a>
                                                <div class="product-action">
                                                    <a data-bs-toggle="modal" data-bs-target="#productModal" class="action-btn">
                                                        <i class="la la-eye"></i>
                                                    </a>
                                                    <a href="#" class="action-btn">
                                                        <i class="la la-heart-o"></i>
                                                    </a>
                                                    <a href="#" class="action-btn">
                                                        <i class="la la-repeat"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-info plr--20">
                                                <h3 class="product-title"><a href="product-details.html">{{product.name}}</a></h3>
                                                <div class="product-info-bottom">
                                                    <div class="product-price-wrapper">
                                                        <span class="money">{{product.price|currency}}</span>
                                                    </div>
                                                   {% if product|is_in_cart:request.session.cart %}
                                                      <form action="/cart#{{product.id}}"  method="post">
                                                        {% csrf_token %}
                                                        <input hidden type="text" name='product' value='{{product.id}}'>
                                                        <input hidden type="text" name='remove' value='True'>
                                                        <button type="submit" class="btn btn-sm" value=" - " style="padding:10px; padding-top:0px; padding-bottom:0px; font-size:12px;">-</button>
                                                      </form>

                                                        <a href="#" class="btn btn-sm" style="padding:4px; padding-top:0px; padding-bottom:0px; font-size:12px;">
                                                          {{product|cart_quantity:request.session.cart}} in Cart
                                                        </a>

                                                      <form action="/cart#{{product.id}}" method="post">
                                                          {% csrf_token %}
                                                          <input hidden type="text" name='product' value='{{product.id}}'>
                                                        <button type="submit" class="btn btn-sm" value=" + " style="padding:4px; padding-top:0px; padding-bottom:0px; font-size:12px;">+</button>
                                                        </form>

                                                      {% else %}
                                                      <form action="/cart#{{product.id}}" method="POST" class="btn-block">
							                                          {% csrf_token %}
                                                        <input hidden type="text" name='product' value='{{product.id}}'>
                                                      <button type="submit" class="btn btn-sm" style="padding:4px; padding-top:0px; padding-bottom:0px; font-size:12px; font-size:12px;">
                                                        Add To Cart
                                                        </button>
                                                      </form>
                                                      {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              {% endfor %}


                            </div>
                        </div>
                       {% else %}
                             <div class="col-12 text-center">
                              There is no featured item(s) this week
                            </div>
                     {% endif %}

                    </div>
                </div>
            </section>
            <!-- Top Sale Area End -->

            <!-- Feature Product Area Start -->
            <section class="feature-product-area mb--75 mb-md--55">
                <div class="container">
                    <div class="row">
                       {% if new_products %}
                       {% for new in new_products %}
                        <div class="col-12">
                            <div class="feature-product bg-color" data-bg-color="#d7fbf9">
                                <div class="feature-product__inner bg-color" data-bg-color="#e9fefd">
                                    <div class="feature-product__info">
                                        <p class="hastag">#New</p>
                                        <h2 class="feature-product__title"><a href="#">{{new.name}}</a></h2>
                                        <a href="{% url 'shop' %}" class="feature-product__btn">Buy now</a>
                                    </div>
                                    <figure class="feature-product__image mb-sm--30">
                                        <a href="#">
                                            <img src="{{new.image.url}}" alt="Feature Product">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                      {% else %}

                      {% endif %}
                    </div>
                </div>
            </section>
            <!-- Feature Product Area End -->



            <!-- Best Sale Product Area Start -->
            <section class="best-sale-product-area mb--75 mb-md--55">
                <div class="container-fluid">
                    <div class="row">
                       {% if best_sales %}
                      {% for best_sale in best_sales %}
                        <div class="col-12">
                            <div class="best-sale-product bg-color" data-bg-color="#f7f8f9">
                                <div class="best-sale-product__inner bg-color" data-bg-color="#ffffff">
                                    <figure class="best-sale-product__img">
                                        <a href="#">
                                            <img src="{{best_sale.image.url}}" alt="{{best_sale.name}}">
                                        </a>
                                    </figure>
                                    <div class="best-sale-product__info">
                                        <h2 class="best-sale-product__heading">
                                            <span class="best-sale-product__heading--main">Best Sale</span>
                                            <span class="best-sale-product__heading--sub">Get Best Discount</span>
                                        </h2>
                                        <p class="best-sale-product__desc">{{best_sale.description}}</p>
                                        <a href="{% url 'shop' %}" class="btn btn-outline btn-size-md btn-color-primary btn-shape-round btn-hover-2">Shop Now</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                      {% endfor %}
                      {% else %}

                      {% endif %}
                    </div>
                </div>
            </section>
            <!-- Best Sale Product Area End -->


{% endblock %}
