{% extends 'master.html' %}
{% load static %}
{% block content %}

{% load cart %}
{% load custom_filter %}
{% load social_share %}


{% include 'partials/slider.html' %}

            <!-- Top Sale Area Start -->
            <section class="top-sale-area mb--75 mb-md--55">
                <div class="container">
                    <div class="row mb--35 mb-md--23">
                        <div class="col-12 text-center">
                            <h2>Featured Designs</h2>
                        </div>
                    </div>
                    <div class="row">
                        {% if featured %}


                              {% for product in featured %}
                          <div class="col">

                                    <div class="ft-product">
                                        <div class="product-inner">
                                            <div class="product-image">
                                                <figure class="product-image--holder">
                                                    <img src="{{product.image.url}}" alt="Product">
                                                </figure>
                                                <a href="/shop/item/{{product.slug}}" class="product-overlay"></a>
                                                <div class="product-action">
                                                    <a href="/shop/item/{{product.slug}}" class="action-btn">
                                                        <i class="la la-eye"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="product-info plr--20">
                                                <h3 class="product-title"><a href="/shop/item/{{product.slug}}">{{product.name}}</a></h3>
                                                <div class="product-info-bottom">

                                                  <button data-bs-toggle="modal" data-bs-target="#request-quote" class="btn btn-size-sm btn-shape-square">
                                                          Request A Quote
                                                  </button>

                                                  <!-- share button -->
                                                            &nbsp;&nbsp;&nbsp;
                                                            <div class="btn-group product-info-bottom">
                                                              <button type="button" class="btn btn-size-sm btn-shape-square dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                                Share
                                                              </button>
                                                              <ul class="dropdown-menu">
                                                                <li>{% post_to_facebook object_url  "Facebook" "dropdown-item" %}</li>
                                                                <li>{% post_to_twitter product.name object_or_url "Twitter" "dropdown-item" %}</li>
                                                                <li>{% post_to_whatsapp object_or_url "WhatsApp" "dropdown-item" %}</li>
                                                              </ul>
                                                            </div>

                                                </div>
                                            </div>&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                          </div>



                              {% endfor %}



                        </div>
                       {% else %}
                             <div class="col-12 text-center">
                              There is no featured item(s) this week
                            </div>
                     {% endif %}

                    </div>
                </div>
            </section>
            <!-- Top Sale Area End -->



{% endblock %}
