{% extends 'master.html' %}
{% load static %}
{% block content %}

{% load cart %}
{% load custom_filter %}
{% load social_share %}

{% include 'partials/slider.html' %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" style="color:blue">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Shop</li>
  </ol>
</nav>

        <!-- Main Content Wrapper Start -->
        <div  class="main-content-wrapper">
            <div class="shop-page-wrapper ptb--80">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-8 order-lg-2 mb-md--50">
                            <div class="shop-toolbar mb--50">
                                <div class="row align-items-center">
                                    <div class="col-md-5 mb-sm--30 mb-xs--10">
                                        <div class="shop-toolbar__left">
                                            <div class="product-ordering">
                                                <select class="product-ordering__select nice-select">
                                                    <option value="0">Default Sorting</option>
                                                    <option value="1">Relevance</option>
                                                    <option value="2">Name, A to Z</option>
                                                    <option value="3">Name, Z to A</option>
                                                    <option value="4">Price, low to high</option>
                                                    <option value="5">Price, high to low</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="shop-toolbar__right d-flex justify-content-md-end justify-content-start flex-sm-row flex-column">
                                            <p class="product-pages">Showing Result  {{products|length}} of {{products|length}}</p>
                                            <div class="product-view-mode ml--50 ml-xs--0">
                                                <a class="active" href="#" data-target="grid">
                                                    <img src="{% static 'assets/img/icons/grid.png' %}" alt="Grid">
                                                </a>
                                                <a href="#" data-target="list">
                                                    <img src="{% static 'assets/img/icons/list.png' %}" alt="Grid">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-products">
                                <div class="row">
                                  {% if products %}
                                   {% for product in products %}
                                    <div class="col-xl-4 col-sm-6 mb--50">
                                        <div class="ft-product">
                                            <div class="product-inner">
                                                <div class="product-image">
                                                    <figure class="product-image--holder">
                                                        <img src="{{product.image.url}}" alt="Product">
                                                    </figure>
                                                    <a href="/shop/item/{{product.slug}}" class="product-overlay"></a>
                                                    <div class="product-action">
                                                        <a href="/shop/item/{{product.slug}}" class="action-btn">
                                                            <i class="la la-eye"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                                <div class="product-info">

                                                    <h3 class="product-title"><a href="/shop/item/{{product.slug}}">{{product.name}}</a></h3>
                                                    <div class="product-info-bottom">
                                                       <button data-bs-toggle="modal" data-bs-target="#request-quote" class="btn btn-size-sm btn-shape-square">
                                                          Request A Quote
                                                        </button>

                                                            <!-- share button -->
                                                            &nbsp;&nbsp;&nbsp;
                                                            <div class="btn-group product-info-bottom">
                                                              <button type="button" class="btn btn-size-sm btn-shape-square dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                                Share
                                                              </button>
                                                              <ul class="dropdown-menu">
                                                                <li>{% post_to_facebook object_url  "Facebook" "dropdown-item" %}</li>
                                                                <li>{% post_to_twitter product.name object_or_url "Twitter" "dropdown-item" %}</li>
                                                                <li>{% post_to_whatsapp object_or_url "WhatsApp" "dropdown-item" %}</li>
                                                              </ul>
                                                            </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="ft-product-list">
                                            <div class="product-inner">
                                                <figure class="product-image">
                                                    <a href="/shop/item/{{product.slug}}">
                                                        <img src="{{product.image.url}}" alt="Products">
                                                    </a>
                                                    <div class="product-thumbnail-action">
                                                        <a href="/shop/item/{{product.slug}}" class="action-btn quick-view">
                                                            <i class="la la-eye"></i>
                                                        </a>
                                                    </div>
                                                </figure>
                                                <div class="product-info">
                                                    <h3 class="product-title mb--25">
                                                        <a href="/shop/item/{{product.slug}}">{{product.name}}</a>
                                                    </h3>

                                                    <div class="product-price-wrapper mb--15 mb-sm--10">
                                                        <span class="money">{{product.price|currency}}</span>

                                                    </div>
                                                    <p class="product-short-description mb--20">
                                                        {% if product.description %}
                                                            {{ product.description }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </p>


                                                    <div class="ft-product-action-list d-flex align-items-center">

                                                    <button data-bs-toggle="modal" data-bs-target="#request-quote" class="btn btn-size-sm btn-shape-square">
                                                          Request A Quote
                                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                        <a href="#" class="btn btn-size-sm btn-shape-square">
                                                          <i class="la la-share"></i> Share
                                                        </a>

                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                  {% endfor %}
                                  {% else %}
                                  <div class="col-xl-12 col-sm-6 mb--50 text-center">
                                    <i>There is no product(s) at the moment</i>
                                  </div>
                                  {% endif %}


                                </div>
                            </div>
                            <!--<nav class="pagination-wrap">
                                <ul class="pagination">
                                    <li><span class="page-number current">1</span></li>
                                    <li><a href="#" class="page-number">2</a></li>
                                    <li><span class="dot"></span></li>
                                    <li><span class="dot"></span></li>
                                    <li><span class="dot"></span></li>
                                    <li><a href="#" class="page-number">16</a></li>
                                </ul>
                            </nav>-->
                        </div>
                        <div class="col-xl-3 col-lg-4 order-lg-1">
                            <aside class="shop-sidebar">
                                <div class="shop-widget mb--40">
                                    <h3 class="widget-title mb--25">Category</h3>
                                    <ul class="widget-list category-list">
                                        <li>
                                            <a href="/shop">
                                                <span class="category-title">All</span>
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>

                                      {% for category in categories %}
                                        <li>
                                            <a href="/shop?category={{category.id}}">
                                                <span class="category-title">{{category.name}}</span>
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                       {% endfor %}
                                    </ul>
                                </div>


                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->



{% endblock %}
