{% extends 'master.html' %}
{% load static %}
{% block content %}

{% load cart %}
{% load custom_filter %}


 <!-- Breadcrumb area Start -->
        <section class="page-title-area bg-image ptb--80" data-bg-image="{% static 'assets/img/bg/page_title_bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title">Shop</h1>
                        <ul class="breadcrumb">
                            <li><a href="{% url 'homepage' %}">Home</a></li>
                            <li class="current"><span>Shop</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb area End -->

        <!-- Main Content Wrapper Start -->
        <div  class="main-content-wrapper">
            <div class="shop-page-wrapper ptb--80">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-8 order-lg-2 mb-md--50">
                            <div class="shop-toolbar mb--50">
                                <div class="row align-items-center">
                                    <div class="col-md-5 mb-sm--30 mb-xs--10">
                                        <div class="shop-toolbar__left">
                                            <div class="product-ordering">
                                                <select class="product-ordering__select nice-select">
                                                    <option value="0">Default Sorting</option>
                                                    <option value="1">Relevance</option>
                                                    <option value="2">Name, A to Z</option>
                                                    <option value="3">Name, Z to A</option>
                                                    <option value="4">Price, low to high</option>
                                                    <option value="5">Price, high to low</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="shop-toolbar__right d-flex justify-content-md-end justify-content-start flex-sm-row flex-column">
                                            <p class="product-pages">Showing Result  {{products|length}} of {{products|length}}</p>
                                            <div class="product-view-mode ml--50 ml-xs--0">
                                                <a class="active" href="#" data-target="grid">
                                                    <img src="{% static 'assets/img/icons/grid.png' %}" alt="Grid">
                                                </a>
                                                <a href="#" data-target="list">
                                                    <img src="{% static 'assets/img/icons/list.png' %}" alt="Grid">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-products">
                                <div class="row">
                                  {% if products %}
                                   {% for product in products %}
                                    <div class="col-xl-4 col-sm-6 mb--50">
                                        <div class="ft-product">
                                            <div class="product-inner">
                                                <div class="product-image">
                                                    <figure class="product-image--holder">
                                                        <img src="{{product.image.url}}" alt="Product">
                                                    </figure>
                                                    <a href="/shop/item/{{product.slug}}" class="product-overlay"></a>
                                                    <div class="product-action">
                                                        <a href="/shop/item/{{product.slug}}" class="action-btn">
                                                            <i class="la la-eye"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                                <div class="product-info">

                                                    <h3 class="product-title"><a href="/shop/item/{{product.slug}}">{{product.name}}</a></h3>
                                                    <div class="product-info-bottom">
                                                        <div class="product-price-wrapper">
                                                            <span class="money">{{product.price|currency}}</span>
                                                        </div>

                                                      {% if product|is_in_cart:request.session.cart %}
                                                      <form action="/cart#{{product.id}}"  method="post">
                                                        {% csrf_token %}
                                                        <input hidden type="text" name='product' value='{{product.id}}'>
                                                        <input hidden type="text" name='remove' value='True'>
                                                        <button type="submit" class="btn btn-sm" value=" - " style="padding:10px; padding-top:0px; padding-bottom:0px; font-size:12px;">-</button>
                                                      </form>

                                                        <a href="#" class="btn btn-sm" style="padding:4px; padding-top:0px; padding-bottom:0px; font-size:12px;">
                                                          {{product|cart_quantity:request.session.cart}} in Cart
                                                        </a>

                                                      <form action="/cart#{{product.id}}" method="post">
                                                          {% csrf_token %}
                                                          <input hidden type="text" name='product' value='{{product.id}}'>
                                                        <button type="submit" class="btn btn-sm" value=" + " style="padding:4px; padding-top:0px; padding-bottom:0px; font-size:12px;">+</button>
                                                        </form>

                                                      {% else %}
                                                      <form action="/cart#{{product.id}}" method="POST" class="btn-block">
							                                          {% csrf_token %}
                                                        <input hidden type="text" name='product' value='{{product.id}}'>
                                                      <button type="submit" class="btn btn-sm" style="padding:4px; padding-top:0px; padding-bottom:0px; font-size:12px; font-size:12px;">
                                                        Add To Cart
                                                        </button>
                                                      </form>
                                                      {% endif %}

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="ft-product-list">
                                            <div class="product-inner">
                                                <figure class="product-image">
                                                    <a href="/shop/item/{{product.slug}}">
                                                        <img src="{{product.image.url}}" alt="Products">
                                                    </a>
                                                    <div class="product-thumbnail-action">
                                                        <a class="action-btn quick-view">
                                                            <i class="la la-eye"></i>
                                                        </a>
                                                    </div>
                                                </figure>
                                                <div class="product-info">
                                                    <h3 class="product-title mb--25">
                                                        <a href="/shop/item/{{product.slug}}">{{product.name}}</a>
                                                    </h3>

                                                    <div class="product-price-wrapper mb--15 mb-sm--10">
                                                        <span class="money">{{product.price|currency}}</span>

                                                    </div>
                                                    <p class="product-short-description mb--20">
                                                        {% if product.description %}
                                                            {{ product.description }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </p>

                                                   {% if product|is_in_cart:request.session.cart %}
                                                    <div class="ft-product-action-list d-flex align-items-center">

                                                      <form action="/cart#{{product.id}}"  method="post">
                                                        {% csrf_token %}
                                                        <input hidden type="text" name='product' value='{{product.id}}'>
                                                        <input hidden type="text" name='remove' value='True'>
                                                        <button type="submit" class="btn btn-sm" value=" - " style="padding:10px; padding-top:0px; padding-bottom:0px; font-size:12px;">-</button>
                                                      </form>

                                                        <a href="#" class="btn btn-size-md">{{product|cart_quantity:request.session.cart}} in Cart</a>

                                                       <form action="/cart#{{product.id}}" method="post">
                                                        {% csrf_token %}
                                                        <input hidden type="text" name='product' value='{{product.id}}'>
                                                        <button type="submit" class="btn btn-sm" value=" + " style="padding:10px; padding-top:0px; padding-bottom:0px; font-size:12px;">+</button>
                                                      </form>

                                                    </div>
                                                  {% else %}

                                                   <div class="ft-product-action-list d-flex align-items-center">
                                                      <form action="/cart#{{product.id}}" method="POST" class="btn-block">
							                                          {% csrf_token %}
                                                        <input hidden type="text" name='product' value='{{product.id}}'>
                                                        <button type="submit" class="btn btn-size-md">Add To Cart</button>
                                                      </form>

                                                    </div>

                                                  {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                  {% endfor %}
                                  {% else %}
                                  <div class="col-xl-12 col-sm-6 mb--50 text-center">
                                    <i>There is no product(s) at the moment</i>
                                  </div>
                                  {% endif %}


                                </div>
                            </div>
                            <!--<nav class="pagination-wrap">
                                <ul class="pagination">
                                    <li><span class="page-number current">1</span></li>
                                    <li><a href="#" class="page-number">2</a></li>
                                    <li><span class="dot"></span></li>
                                    <li><span class="dot"></span></li>
                                    <li><span class="dot"></span></li>
                                    <li><a href="#" class="page-number">16</a></li>
                                </ul>
                            </nav>-->
                        </div>
                        <div class="col-xl-3 col-lg-4 order-lg-1">
                            <aside class="shop-sidebar">
                                <div class="shop-widget mb--40">
                                    <h3 class="widget-title mb--25">Category</h3>
                                    <ul class="widget-list category-list">
                                        <li>
                                            <a href="/shop">
                                                <span class="category-title">All</span>
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>

                                      {% for category in categories %}
                                        <li>
                                            <a href="/shop?category={{category.id}}">
                                                <span class="category-title">{{category.name}}</span>
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                       {% endfor %}
                                    </ul>
                                </div>


                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->



{% endblock %}
