{% load static %}
<div class="footer-top" style="background-color: #30628b; color:white">
                <div class="container-fluid">
                    <div class="row border-bottom pt--70 pb--70">
                        <div class="col-lg-3 col-sm-6 offset-md-1 offset-lg-0 mb-md--45">
                            <div class="footer-widget">
                                <div class="textwidget">
                                    <figure class="footer-logo mb--30">
                                        <img src="{% static 'assets/img/logo/the_casa_decor_final_logo.png' %}" alt="Logo" width="120" height="80">
                                    </figure>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-4 offset-md-1 offset-lg-0 mb-xs--45">
                            <div class="footer-widget">
                                <h3 class="widget-title mb--35 mb-sm--20" style="color:white">Contact Us</h3>
                                <div class="footer-widget">
                                   <h1 style="color:white">{{contact_details.phone_number}}</h1>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-3 col-sm-4">
                            <div class="footer-widget">
                                <h3 class="widget-title mb--35 mb-sm--20"  style="color:white">Connect with Us</h3>
                                <div class="footer-widget">
                                    <ul class="footer-menu">
                                        <li><a href="{{contact_details.facebook_page}}" target="_blank">Facebook</a></li>
                                        <li><a href="{{contact_details.instagram_page}}" target="_blank">Instagram</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container-fluid">
                    <div class="row border-top ptb--20">
                        <div class="col-12 text-center">
                              <p class="copyright-text">&copy; {% now "Y" %} The Casa Décor</p>
                        </div>
                    </div>
                </div>
            </div>
