{% load static %}

              <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                      <div class="bd-example">
                          <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3" class="" aria-current="true"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active" data-bs-interval="10000">

                                 <img class="d-block w-100" src="{% static 'assets/img/slider/lounge_suite_1_1.jpeg' %}"  alt="First slide">

                                <div class="carousel-caption d-md-block" style="color:white">

                                  <h5 style="color:white">GRANDA CORNER LOUNGE SUITE</h5>
                                  <p>THE PERFECT SUITE FOR ENTERTAINERS AND HOMEBODIES WHO ENJOY LUXURY ALIKE</p>
                                </div>
                              </div>
                              <div class="carousel-item" data-bs-interval="2000">
                                <img class="d-block w-100" src="{% static 'assets/img/slider/truck_delivering_cut.jpeg' %}"  alt="First slide">

                                <div class="carousel-caption d-md-block" style="color:white">
                                  <h5 style="color:white">WE DELIVER ACROSS THE COUNTRY</h5>
                                  <p>Choose your favourite product, get a quote, pay by EFT and order for delivery throughout South Africa</p>
                                </div>
                              </div>
                              <div class="carousel-item">
                                 <img class="d-block w-100" src="{% static 'assets/img/slider/lounge_garden_1_1.jpeg' %}"  alt="First slide">

                                <div class="carousel-caption d-md-block" style="color:white">
                                  <h5 style="color:white">GARDEN LOUNGE SUITE</h5>
                                  <p>GOOD CHOICE FOR HOMEBODIES WHO ENJOY LUXURY GARDEN </p>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" style="color:white" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="color:white;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                          </div>

                        </div>
                    </div>
              </div>
<br><br>
