{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<!-- body -->
<div class="container-fluid mt-3">
	<div class="row">


		<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<div class="list-group">

				<a href="/" class="list-group-item list-group-item-action btn btn-outline-success">All Products</a>

				{% for category in categories %}
				<a href="/?category={{category.id}}"
					class="list-group-item list-group-item-action btn btn-outline-success ">{{category.name}}</a>
				{% endfor %}
			</div>
		</div>

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
					<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-title">{{product.name}}</p>
						<p class="card-text"><b>{{product.price|currency}}</b></p>
						<!-- {{product | is_in_cart:request.session.cart }} -->
					</div>

					<div class="card-footer p-0 no-gutters">

                      <button data-bs-toggle="modal" data-bs-target="#request-quote" class="btn btn-size-sm btn-shape-square">
                          Request A Quote
                      </button>

                       <!-- share button -->
                                                            &nbsp;&nbsp;&nbsp;
                                                            <div class="btn-group product-info-bottom">
                                                              <button type="button" class="btn btn-size-sm btn-shape-square dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                                Share
                                                              </button>
                                                              <ul class="dropdown-menu">
                                                                <li>{% post_to_facebook object_url  "Facebook" "dropdown-item" %}</li>
                                                                <li>{% post_to_twitter product.name object_or_url "Twitter" "dropdown-item" %}</li>
                                                                <li>{% post_to_whatsapp object_or_url "WhatsApp" "dropdown-item" %}</li>
                                                              </ul>
                                                            </div>
					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>



{% endblock %}
